{% extends 'base.html.twig' %}

{% block title %}Importation de fichier{% endblock %}

{% block body %}
<style>
    
</style>

<div>
    <h1>Importation de fichier</h1>
   
    {{ form(form) }}
           
    </form>

</div>
{% endblock %}
