{% extends 'base.html.twig' %}

{% block title %}Importation de fichier{% endblock %}

{% block body %}
<style>
    
</style>

<div>
    <h1>Importation de fichier</h1>
    <p><a href="{{ path('list_data') }}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Lien vers la liste des données.</a></p>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                {{ form(form) }}
            </div>
        </div>
    </div>
        

</div>
{% endblock %}
