{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}

<div>
    <h1>Ma liste</h1>

    <table class="table table-boardered" id="maTable">
        <thead>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Civilité</th>
                <th>Téléphone domicile</th>
                <th>Téléphone portable</th>
                <th>Téléphone Job</th>
                <th>Email</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

</div>

<script>

    $(document).ready(function() {

        $('#maTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "/list-paginate",
                type: "POST",
                data: function(d) {
                    d.page = d.start / d.length + 1; 
                    d.length = d.length; 
                    d.orderBy = d.columns[d.order[0].column].id;
                    d.orderBy = d.columns[d.order[0].column].nom;
                    d.search = d.search.value;
                },
                dataSrc : "dataClient",
            },
            columns: [
                { data: "id" },
                { data: "nom" },
                { data: "prenom" },
                { data: "libelleCivilite" },
                { data: "telephoneDomicile" },
                { data: "telephonePortable" },
                { data: "telephoneJob" },
                { data: "email" },
                { 
                    data: null, 
                    render: function(data, type, row) {
                        return '<a href="/list/edit/' + data.id + '" class="btn btn-primary">Modifier</a>';
                    } 
                },
                { 
                    data: null, 
                    render: function(data, type, row) {
                        return '<button class="btn btn-danger" onclick="deleteData(' + data.id + ')">Supprimer</button>';
                    } 
                }
            ]
        }); 

    });
        function deleteData(id) {
            if (confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')) {
                $.ajax({
                    url: '/list/delete/' + id,
                    type: 'DELETE',
                    success: function(response) {
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        }
</script>
{% endblock %}